services:
  db:
    image: mariadb:12.2.2-ubi10
    container_name: wp-db
    environment:
      MARIADB_DATABASE: "wordpress"
      MARIADB_USER: "wpuser"
      MARIADB_PASSWORD: "wppassword"
      MARIADB_ROOT_PASSWORD: "rootpassword"
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
  wordpress:
    image: wordpress:latest
    container_name: wp-app
    depends_on:
      - db
    restart: always
    ports:
      - "80:80"
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wpuser
      WORDPRESS_DB_PASSWORD: wppassword
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - wp_data:/var/www/html

volumes:
  db_data:
  wp_data:
