@import 'tailwindcss';

@theme {
  --color-qc: #078F5B;
  --color-qc-darker: #0C6B47;
  --color-qc-melon: #ACCE22;
  --color-qc-white: #DDE2CD;
  --color-qc-black: #1B2521;

  --font-poppins: "Poppins", "sans-serif";
}

html {
  @apply font-poppins scroll-smooth;
}

*::selection {
  @apply bg-qc text-qc-white; 
}

#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  @apply bg-qc-darker! fixed! z-50! top-0! left-0! w-full! h-[3px]!;
}